{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "prettier", "react-app"],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".jsx", ".tsx"] }],
    "@typescript-eslint/no-unused-vars": 2,
    "import/extensions": 0,
    "react/react-in-jsx-scope": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
